@use 'styles/abstracts/variables';
@use 'styles/abstracts/breakpoint';

body {
  background-color: variables.$dark_bg;
  font-family: variables.$primary_font;
  font-weight: 300;
  line-height: 2.2rem;
  color: variables.$white_bg;
  display: block;

  @include breakpoint.sm {
    font-size: 18px;
  }

  @include breakpoint.md {
    font-size: 20px;
  }

  @include breakpoint.lg {
    font-size: 22px;
  }
}

button {
  background-color: variables.$ryb;
  color: variables.$white_bg;
  border: none;
  border-radius: variables.$general_radius;
  cursor: pointer;
  transition: all 0.2s ease;

  &:active {
    transform: translateY(8px);
  }
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
