// Font family
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Abstracts
@import '../abstracts/_variables.scss';
@import '../abstracts/_mixins.scss';

body {
  background-color: $dark_bg;
  font-family: $primary_font;
  font-weight: 200;
  line-height: 2rem;
  color: $white_bg;
  display: block;

  @include sm {
    font-size: 18px;
  }

  @include md {
    font-size: 20px;
  }

  @include lg {
    font-size: 22px;
  }
}

button {
  background-color: $ryb;
  color: $white_bg;
  border: none;
  border-radius: $general_radius;
  cursor: pointer;

  transition: all 0.2s ease;

  &:active {
    transform: translateY(8px);
  }
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
