// General
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

// Moving from side
@mixin moved_from_side($side, $value) {
  @include keyframes(moved-from-#{$side}) {
    0% {
      transform: translate3d(#{$value}, 0, 0);
      opacity: 0;
    }
    100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  @include animate(moved-from-#{$side}, 1s, ease-in, 1);
}

// Breathing dot
@mixin breathing_dot {
  @include keyframes(breathing) {
    0% {
      opacity: 0.1;
      scale: 0.3;
    }
    25% {
      opacity: 0.5;
      scale: 0.6;
    }
    50% {
      opacity: 0.8;
      scale: 1;
    }
    75% {
      opacity: 0.3;
      scale: 0.8;
    }
    100% {
      opacity: 0.1;
      scale: 0.3;
    }
  }

  @include animate(breathing, 6s, ease-in, infinite);
}

// Waving hand
@mixin waving_hand {
  @include keyframes(waving-hand) {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @include animate(waving-hand, 2s, ease, infinite);
}

// Bounce forward
@mixin bouce_forward {
  @include keyframes(bounce-forward) {
    0% {
      transform: scale(1, 1) translateX(0);
    }
    10% {
      transform: scale(1.1, 0.9) translateX(0);
    }
    30% {
      transform: scale(0.9, 1.1) translateX(8px);
    }
    50% {
      transform: scale(1.1, 0.9) translateX(0);
    }
    57% {
      transform: scale(1, 1) translateX(-2px);
    }
    64% {
      transform: scale(1, 1) translateX(0);
    }
    100% {
      transform: scale(1, 1) translateX(0);
    }
  }

  @include animate(bounce-forward, 1s, ease-in-out, infinite);
}

// Bounce up and down
@mixin bounce-up-down {
  @include keyframes(bounce-up-down) {
    0% {
      transform: scale(1, 1) translateY(0);
    }
    10% {
      transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
      transform: scale(0.9, 1.1) translateY(-7px);
    }
    50% {
      transform: scale(1.05, 0.95) translateY(0);
    }
    58% {
      transform: scale(1, 1) translateY(-7px);
    }
    65% {
      transform: scale(1, 1) translateY(0);
    }
    100% {
      transform: scale(1, 1) translateY(0);
    }
  }

  @include animate(bounce-up-down, 1s, ease, infinite);
}

// Moving up
@mixin fade_up {
  @include keyframes(fade-up) {
    0% {
      opacity: 0;
      transform: translateY(5rem);
    }
    100% {
      opacity: 1;
    }
  }

  @include animate(fade-up, 2s, ease, 1);
}

// Change hue hero background
@mixin hue_rotate {
  @include keyframes(hue-rotate) {
    100% {
      filter: hue-rotate(360deg);
    }
  }

  @include animate(hue-rotate, 10s, ease, infinite);
}

// Change black to white header
@mixin black_t_white {
  @include keyframes(black-white) {
    0% {
      color: $white_bg;
    }
    50% {
      color: $dark_bg;
    }
    100% {
      color: $white_bg;
    }
  }

  @include animate(black-white, 10s, ease, infinite);
}
