/* Typography */
@mixin secondary_font {
  font-family: 'Alfa Slab One', sans-serif;
  letter-spacing: 5px;
}

@mixin hero_header {
  @include secondary_font;

  @include sm {
    color: $yellow;
    margin-bottom: 1rem;
    font-size: 2em;
    line-height: 3rem;
  }

  @include md {
    font-size: 2.4rem;
  }

  @include lg {
    font-size: 3.4rem;
    line-height: 4rem;
  }
}

@mixin section_header {
  @include secondary_font;

  @include sm {
    font-size: 1.6rem;
    line-height: 3rem;
  }

  @include md {
    font-size: 2.8rem;
    line-height: 1.6em;
  }
}

/* Colors */
@mixin gradient_yellow_bg {
  background: linear-gradient(60deg, $yellow 0%, $light_red 100%);
}

@mixin gradient_bottom_line($width) {
  &::after {
    content: '';
    position: absolute;
    height: 0.4rem;
    width: #{$width};
    border-radius: $general_radius;
    bottom: -2px;
    left: 0;

    @include gradient_yellow_bg;
  }
}

/* Margins & paddings */
@mixin section_padding {
  @include sm {
    padding: 1.2rem 1.6rem;
  }

  @include md {
    padding: 1.2rem 3rem;
  }

  @include lg {
    padding: 1.2rem 4.8rem;
  }
}

@mixin container_margin {
  @include sm {
    margin: 4rem auto;
  }

  @include md {
    margin: 6rem auto;
  }
}

@mixin safe_margin_wide_screen {
  max-width: 1600px;
  margin: auto auto;
}

@mixin card_properties {
  height: $project_card;
  width: $project_card;
  border-radius: $general_radius;
}

/* Breakpoints */
// Small devices
@mixin sm {
  @media (min-width: #{$screen_sm_min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen_md_min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen_lg_min}) {
    @content;
  }
}

/* Animation */
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}
