// Linear gradient from yellow to red
@mixin gradient_yellow_bg {
  background: linear-gradient(60deg, $yellow 0%, $light_red 100%);
}

// Linear gradient from  blue to light blue
@mixin gradient_blue_bg {
  background: linear-gradient(
    60deg,
    rgba(76, 66, 255, 1) 0%,
    rgba(119, 112, 255, 1) 100%
  );
}

// Linear gradient yellow to red for text
@mixin gradient_bottom_line($width) {
  &::after {
    content: '';
    position: absolute;
    height: 0.4rem;
    width: #{$width};
    border-radius: $general_radius;
    bottom: -2px;
    left: 0;

    @include gradient_yellow_bg;
  }
}

// Radial gradient red dot
@mixin red_dot {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(254, 138, 127, 0.4) 0%,
    rgba(252, 191, 73, 0.08) 60%,
    rgba(254, 138, 127, 0) 100%
  );
}

// Radial gradient blue dot {
@mixin blue_dot {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(76, 66, 255, 0.4) 0%,
    rgba(119, 112, 255, 0.08) 60%,
    rgba(254, 138, 127, 0) 100%
  );
}

// Radial gradient yellow dot
@mixin yellow_dot {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(252, 191, 73, 0.4) 0%,
    rgba(255, 193, 70, 0.08) 60%,
    rgba(253, 255, 252, 0) 100%
  );
}

// Hero mesh gradient background
@mixin hero_mesh_bg {
  background-image: radial-gradient(
      at 74% 5%,
      hsla(61, 92%, 71%, 1) 0,
      transparent 51%
    ),
    radial-gradient(at 7% 57%, hsla(238, 100%, 74%, 1) 0, transparent 51%),
    radial-gradient(at 54% 59%, hsla(8, 93%, 74%, 1) 0, transparent 52%),
    radial-gradient(at 19% 5%, hsla(329, 81%, 73%, 1) 0, transparent 55%),
    radial-gradient(at 94% 94%, hsla(15, 66%, 66%, 1) 0, transparent 48%),
    radial-gradient(at 91% 43%, hsla(332, 79%, 78%, 1) 0, transparent 59%),
    radial-gradient(at 23% 28%, hsla(261, 98%, 63%, 1) 0, transparent 49%);
}
