@use 'styles/abstracts/variables';
@use 'styles/abstracts/breakpoint';
@use 'styles/abstracts/layout';
@use 'styles/abstracts/animation';

.footer {
  background-color: variables.$ryb;
  text-align: center;
  font-weight: 400;
  margin-top: auto;

  @include layout.section_padding;

  @include breakpoint.sm {
    font-size: 1.2rem;
  }

  @include breakpoint.md {
    font-size: 1.4rem;
  }

  &__social {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 1.6rem auto;
  }

  img {
    max-width: 2rem;
  }

  &__mes {
    max-width: fit-content;
    margin: auto;
    color: variables.$yellow;

    @include animation.bounce_up_down;

    &__noAnimate {
      animation: none;
    }
  }

  &__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
}
