@import '../abstracts/_mixins.scss';
@import '../abstracts/_variables.scss';

.footer {
  background-color: $ryb;
  text-align: center;
  font-weight: 400;
  margin-top: auto;

  @include section_padding;

  @include sm {
    font-size: 1.2rem;
  }

  @include md {
    font-size: 1.4rem;
  }

  &__social {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 1.6rem auto;
  }

  img {
    max-width: 2rem;
  }

  &__mes {
    max-width: fit-content;
    margin: auto;
    color: $yellow;

    @include bounce_up_down;

    &__noAnimate {
      animation: none;
    }
  }

  &__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    font-weight: 100;
  }
}
