@use 'styles/abstracts/breakpoint';
@use 'styles/abstracts/gradient';
@use 'styles/abstracts/animation';
@use 'styles/abstracts/layout';
@use 'styles/abstracts/typography';
@use 'styles/abstracts/variables';

.heroSection {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 10% 70% 20%;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;

  @include breakpoint.sm {
    background-size: 200% 100%;
  }

  @include breakpoint.md {
    background-size: 100% 100%;
  }

  @include gradient.hero_mesh_bg;
  @include animation.hue-rotate;
  @include layout.section_padding;
}

.heroContainer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;

  @include animation.fade_up;

  &__header {
    @include typography.hero_header;
  }

  &__p {
    font-weight: 500;
  }
}

.heroFooter {
  grid-column-start: 1;
  grid-row-start: 3;
  font-size: variables.$h3_font_size;
  display: flex;
  align-items: center;
  gap: 1rem;

  &__p:hover {
    color: variables.$yellow;
  }
}
