.heroSection {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 10% 70% 20%;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;

  @include sm {
    background-size: 200% 100%;
  }

  @include md {
    background-size: 100% 100%;
  }

  @include hero_mesh_bg;
  @include hue-rotate;
  @include section_padding;
}

.heroContainer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;

  @include fade_up;

  &__header {
    @include hero_header;
    @include black_t_white;
  }

  &__p {
    font-weight: 500;
  }
}

.heroFooter {
  grid-column-start: 1;
  grid-row-start: 3;
  font-size: $h3_font_size;
  display: flex;
  align-items: center;
  gap: 1rem;

  &__p:hover {
    color: $yellow;
  }
}
