@use 'styles/abstracts/layout';
@use 'styles/abstracts/breakpoint';
@use 'styles/abstracts/typography';
@use 'styles/abstracts/gradient';

.porfolio {
  width: 100%;

  @include layout.section_padding;
  @include layout.safe_margin_wide_screen;

  &__header {
    @include typography.section_header;

    @include breakpoint.sm {
      @include gradient.gradient_bottom_line(9rem);
    }

    @include breakpoint.md {
      @include gradient.gradient_bottom_line(14rem);
    }
  }

  &__con {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4rem;

    @include layout.container_margin;
  }
}
