.porfolio {
  @include section_padding;
  @include safe_margin_wide_screen;

  &__header {
    @include section_header;
    position: relative;

    @include sm {
      @include gradient_bottom_line(9rem);
    }

    @include md {
      @include gradient_bottom_line(14rem);
    }
  }

  &__con {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4rem;

    @include container_margin;
  }
}
