@use 'styles/abstracts/gradient';
@use 'styles/abstracts/animation';
@use 'styles/abstracts/variables';
@use 'styles/abstracts/pseudo';

.linkCon {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-style: italic;
  width: fit-content;

  @include gradient.gradient_yellow_bg;

  background-clip: text;
  color: transparent;
  overflow: hidden;

  @include pseudo.pseudo(after, $bottom: 0, $left: 0) {
    width: 100%;
    height: 3px;
    background-color: variables.$ryb;
    border-radius: variables.$general_radius;
    transition: all 0.3s ease-in-out;
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }

  &:hover::after {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  svg {
    color: variables.$light_red;

    @include animation.bouce_forward;
  }
}
