@import '../abstracts/_variables.scss';
@import '../abstracts/_mixins.scss';

.linkCon {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-style: italic;
  width: fit-content;
  position: relative;

  @include gradient_yellow_bg;

  background-clip: text;
  color: transparent;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: $ryb;
    border-radius: $general_radius;
    transition: all 0.3s ease-in-out;
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }

  &:hover::after {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  svg {
    color: $light_red;
    @include bouce_forward;
  }
}
