@import '../abstracts/_variables.scss';

@mixin properties {
  height: $project_card;
  width: $project_card;
  border-radius: $border_radius;
}

.projectCon {
  position: relative;

  @include properties;

  &__imgCon {
    overflow: hidden;
    @include properties;
  }

  img {
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    @include properties;
  }

  &__descriptionCon {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(76, 66, 255, 0.8);

    @include properties;

    p,
    svg {
      font-weight: 400;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }

    &__disabled {
      background: rgba(254, 138, 127, 0.8);
    }

    &__linkCon {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }

  &:hover &__descriptionCon {
    visibility: visible;

    p,
    svg {
      opacity: 1;
      transform: translateY(2rem);
    }
  }

  &:hover img {
    transform: scale(1.2);
  }
}

.infoCon {
  max-width: $project_card;
  margin-top: 1rem;

  &__header {
    font-weight: 700;
  }

  &__p {
    font-style: italic;
  }

  &__title {
    color: $yellow;
  }
}
