@use 'styles/abstracts/variables';
@use 'styles/abstracts/object';
@use 'styles/abstracts/gradient';
@use 'styles/abstracts/pseudo';
@use 'styles/abstracts/breakpoint';

.imgCon {
  position: relative;

  @include object.card_properties;

  &__con {
    overflow: hidden;
    transition: all 0.5s ease;
    position: static !important;

    @include object.card_properties;

    span {
      border-radius: variables.$general_radius;
    }

    @include pseudo.pseudo(before, $top: 0, $left: 0) {
      z-index: -1;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s ease;

      @include object.card_properties;
      @include gradient.gradient_blue_bg;
    }
  }

  img {
    object-fit: cover;
    transition: all 0.5s ease;
    @include object.card_properties;
  }

  @include breakpoint.lg {
    &:hover img {
      transform: scale(1.2);
    }

    &:hover &__con:before {
      visibility: visible;
      transform: translate3d(4%, 4%, 0);
      opacity: 1;
    }
  }
}
