@use 'styles/abstracts/variables';

.infoCon {
  max-width: variables.$project_card;
  margin-top: 1rem;

  &__header {
    font-weight: 700;
  }

  &__p {
    font-style: italic;
  }

  &__title {
    color: variables.$yellow;
  }
}
