@use 'abstracts/variables';
@use 'abstracts/breakpoint';
@use 'abstracts/gradient';
@use 'abstracts/typography';
@use 'abstracts/animation';
@use 'abstracts/layout';

.rects_bg {
  position: absolute;
  z-index: -1;
}

.notfound__con {
  @include breakpoint.sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 5vw;
    text-align: center;
    padding-top: 14vh;

    line-height: normal;

    @include layout.safe_margin_wide_screen;
    @include layout.section_padding;
  }

  @include breakpoint.md {
    font-size: 34px;
  }

  @include breakpoint.lg {
    padding-top: 16vh;
    flex-direction: row;
  }

  &__left {
    text-align: right;
    text-transform: uppercase;
    padding: 1rem;
    position: relative;
    color: transparent !important;

    @include typography.secondary_font;

    @include gradient.hero_mesh_bg;
    background-clip: text;
    background-size: 110% 110%;
    @include animation.hue_rotate;

    p {
      @include breakpoint.sm {
        font-size: 120px;
        line-height: 9rem;
        margin-bottom: -4rem;

        &:nth-child(2),
        &:last-child {
          font-size: 60px;
        }

        &:nth-child(2) {
          margin-top: 1rem;
        }
      }

      @include breakpoint.md {
        font-size: 180px;
        line-height: 11rem;

        &:nth-child(2),
        &:last-child {
          font-size: 100px;
        }
      }
    }
  }
}
