@use 'abstracts/variables';
@use 'abstracts/layout';
@use 'abstracts/breakpoint';
@use 'abstracts/gradient';
@use 'abstracts/object';
@use 'abstracts/typography';
@use 'abstracts/animation';

$gap: 2rem;

.aboutMe {
  @include layout.top_section_con;
  @include layout.safe_margin_wide_screen;

  position: relative;
  overflow: hidden;

  @include breakpoint.md {
    font-size: 1.6rem;
    line-height: 3rem;
  }

  .blur_dot_red {
    @include object.blur_dot;
    @include gradient.red_dot;

    top: 12rem;
    left: -2rem;
  }

  .blur_dot_blue {
    @include object.blur_dot;
    @include gradient.blue_dot;

    top: -24rem;
    right: -2rem;
  }

  .blur_dot_yellow {
    @include object.blur_dot;
    @include gradient.yellow_dot;

    @include breakpoint.sm {
      left: -6rem;
      bottom: -10rem;
    }

    @include breakpoint.md {
      left: 22rem;
      bottom: -20rem;
    }

    @include breakpoint.lg {
      left: 50rem;
    }
  }

  .wave_circles {
    z-index: -1;

    svg {
      position: absolute;
    }

    &__st {
      top: 0;
      right: 0;
    }

    &__nd {
      bottom: 0;
      left: 0;
    }
  }

  &__header {
    @include typography.section_header;

    @include breakpoint.sm {
      @include gradient.gradient_bottom_line(10.5rem);
    }

    @include breakpoint.md {
      @include gradient.gradient_bottom_line(17rem);
    }
  }

  &__conOne {
    @include layout.container_margin;

    @include breakpoint.sm {
      display: flex;
      flex-direction: column;
      gap: $gap;
      text-align: center;
    }

    @include breakpoint.lg {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: $gap;
      text-align: left;
    }
  }

  &__img {
    position: relative;
    z-index: 1;
    margin: auto auto;

    @include object.next_img_com;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      z-index: -1;
      border-radius: variables.$general_radius;

      @include gradient.gradient_yellow_bg;

      @include breakpoint.sm {
        width: 200px;
        height: 200px;
        top: 1rem;
        left: -1rem;
      }

      @include breakpoint.md {
        width: 250px;
        height: 250px;
        top: 1.6rem;
        left: -1.6rem;
      }

      @include breakpoint.lg {
        width: 300px;
        height: 300px;
      }
    }
  }

  &__w {
    font-size: 3rem;
    overflow: hidden;

    p {
      font-size: 1.6rem;
    }

    .waveHand {
      display: inline-block;
      margin-left: 1rem;

      @include breakpoint.sm {
        font-size: 2.4rem;
      }

      @include breakpoint.lg {
        font-size: 3rem;
      }

      @include animation.waving_hand;
    }
  }

  p {
    margin-top: 2rem;
  }

  &__conTwo {
    @include breakpoint.sm {
      display: flex;
      flex-direction: column;
      gap: $gap;
    }

    @include breakpoint.lg {
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: $gap;
    }

    &__left {
      @include animation.moved_from_side('left', -100%);
    }

    &__right {
      @include animation.moved_from_side('right', 100%);
    }
  }

  &__tags {
    margin-top: 2rem;

    @include breakpoint.sm {
      display: flex;
      flex-direction: column;
    }

    p {
      padding: 0 1rem;
      margin-top: 1rem;
      background-color: variables.$ryb;
      border-radius: variables.$general_radius;
      text-align: center;
    }

    .tags__noti {
      background-color: transparent;
      text-align: left;
    }

    .tags__con {
      display: flex;
      flex-wrap: wrap;

      @include breakpoint.sm {
        gap: 0.5rem;
        margin-bottom: 0.5rem;
      }

      @include breakpoint.md {
        gap: 1rem;
        margin-bottom: 1rem;
      }

      &__fw {
        p {
          background-color: variables.$yellow;
          color: variables.$dark_bg;
        }
      }

      &__sl {
        p {
          background-color: variables.$light_red;
        }
      }

      &__db {
        p {
          background-color: variables.$light_yellow;
          color: variables.$dark_bg;
        }
      }

      &__not {
        p {
          background-color: variables.$white_bg;
          color: variables.$dark_bg;
        }
      }
    }
  }

  &__link {
    @include object.go_to_link_con;
  }
}

.infoCard {
  &__con {
    @include gradient.gradient_blue_bg;
    border-radius: variables.$general_radius;
    padding: 1rem;
    line-height: 2.4rem;

    p {
      margin-top: 0;
    }
  }

  &__part {
    margin-bottom: 1.2rem;

    a:hover {
      text-decoration: underline;
    }
  }

  &__part:last-child {
    margin-bottom: 0;
  }

  &__header {
    font-weight: 700;
    color: variables.$dark_bg;
  }
}
