@use 'abstracts/layout';
@use 'abstracts/typography';
@use 'abstracts/breakpoint';
@use 'abstracts/gradient';
@use 'abstracts/object';

.projects {
  @include layout.top_section_con;
  @include layout.safe_margin_wide_screen;

  &__header {
    @include typography.section_header;

    margin-top: 2rem;

    @include breakpoint.sm {
      @include gradient.gradient_bottom_line(13rem);
    }

    @include breakpoint.md {
      @include gradient.gradient_bottom_line(21rem);
    }
  }

  &__con {
    @include layout.container_margin;

    @include breakpoint.sm {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }

    @include breakpoint.md {
      display: grid;
      grid-gap: 4rem;
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint.lg {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__link {
    @include object.go_to_link_con;
  }
}
